nest_app/.eslintrc.js
nest_app/.gitignore
nest_app/.prettierrc
nest_app/nest-cli.json
nest_app/package-lock.json
nest_app/package.json
nest_app/README.md
nest_app/tsconfig.build.json
nest_app/tsconfig.json
nest_app/src/app.controller.spec.ts
nest_app/src/app.controller.ts
nest_app/src/app.module.ts
nest_app/src/app.service.ts
nest_app/src/main.ts
nest_app/src/user/user.controller.spec.ts
nest_app/src/user/user.controller.ts
nest_app/src/user/user.module.ts
nest_app/src/user/user.service.spec.ts
nest_app/src/user/user.service.ts
nest_app/src/user/dto/create-user.dto.ts
nest_app/src/user/dto/update-user.dto.ts
nest_app/test/app.e2e-spec.ts
nest_app/test/jest-e2e.json
redux_app/.gitignore
redux_app/package-lock.json
redux_app/package.json
redux_app/README.md
redux_app/public/favicon.ico
redux_app/public/index.html
redux_app/public/logo192.png
redux_app/public/logo512.png
redux_app/public/manifest.json
redux_app/public/robots.txt
redux_app/src/App.css
redux_app/src/App.js
redux_app/src/App.test.js
redux_app/src/index.css
redux_app/src/index.js
redux_app/src/logo.svg
redux_app/src/reportWebVitals.js
redux_app/src/setupTests.js
redux_app/src/components/Counter.js
redux_app/src/redux/actions/Action.js
redux_app/src/redux/reducer/Reducer.js
redux_app/src/redux/store/store.js
redux_app/src/redux2/Slices/getDataSlice.jsx


Nest tutorial.txt
